
/*********** Palette color ***********/
:root{
    --white: #FFF;
    --grey: #999;
    --black: #000;
    --primary: #1ABC9C;
    --secondary: #2C3E50;
    --tertiary: #3A546D;

    --scarlet: #BA4B63;
    --somber: #1EA4B6;
    --obsidian: #140F0F;
    --lightblue: #1C83C1;
    --blue: #0E38B5;
    --sand: #CCB2A3;
}

/* Layout Row/Col */
.debug .row {border: 2px dashed red;}
.debug .row > [class^="col"] {border: 2px solid yellow;}
/* Layout Nested Row/Col */
.debug .row .row {border: 2px dashed orangered;}
.debug [class^="col"] [class^="col"] {border: 2px solid green;}
/* Layout Others Elements */
.my-border {border: 2px solid purple;}
.my-border2 {border: 2px solid dodgerblue;}

/* Min-Height for Layout
DELETE BEFORE TO INSERT CONTENT */
.min-h-100 {min-height: 100px;}



/*********** Utilities ***********/
.my-c-primary {color: var(--primary);}
.my-c-secondary {color: var(--secondary);}

.my-bg-primary {background-color: var(--primary);}
.my-bg-secondary {background-color: var(--secondary);}
.my-bg-tertiary {background-color: var(--tertiary);}
.my-bg-scarlet {background-color: var(--scarlet);}
.my-bg-somber {background-color: var(--somber);}
.my-bg-obsidian {background-color: var(--obsidian);}
.my-bg-lightblue {background-color: var(--lightblue);}
.my-bg-blue {background-color: var(--blue);}
.my-bg-sand {background-color: var(--sand);}


/*********** Header ***********/
#navbar {height: 80px;}

